<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
	</head>
	<body>
		<div style="text-align:center">
		  <h1>
			Welcome to {{ title }}!
		  </h1>
		</div>
			<table style="float:left" border=1>
				<tr>
					<th>Név</th>
					<th>Cím</th>
					<th>Alapítás éve</th>
					<th>Geokoordináták megjelenítése</th>
				</tr>
				<tr *ngFor="let tarsasag of tarsasagok">
					<td style="max-width: 400px">{{ tarsasag.TARS_ROV_NEV }}</td>
					<td>{{ tarsasag.CIM_EGYBEN }}</td>
					<td>{{ tarsasag.ASZ_EVE }}</td>
					<td>
						<button (click)="Geocode(tarsasag.CIM_EGYBEN)">Ok</button>
					</td>
				</tr>
			</table>
			<div>
				<img style="position:fixed" #mapImg/>
				<span style="position:fixed" #coordSpan></span>
			</div>
	</body>
</html>