<input type="text" 
       #companySearchInput 
       class="form-control" 
       placeholder="Keresés..." />

<!-- company listing -->
<div id="company-list">
  <!-- companies -->
  <div class="table-limiter">
    <div>
      <table>
        <tr class="table-heading">
          <th>{{companyColumns[0]}}</th>
          <th>{{companyColumns[1]}}</th>
          <th>{{companyColumns[2]}}</th>
          <th>{{companyColumns[3]}}</th>
          <th>{{companyColumns[4]}}</th>
        </tr>
        <tr *ngFor="let e of companyData; let i = index">
          <td>{{e.ADOSZAM}}</td>
          <td>{{e.TARS_ROV_NEV}}</td>
          <td>{{e.cegall}}</td>
          <td>{{e.gazd_form}}</td>
          <td>{{e.JEGYZ_TOKE_ERT_HUF}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
