/* You can add global styles to this file, and also import other style files */

body {
color:black;
font-family: 'Oswald', calibri;
text-align: justify;
padding-left:10%;
padding-right:10%;
font-size: 150%;
background-color:#ADD8E6;

}	

h1,h2 {
    font-family: 'Oswald', sans-serif;
	
}
div {
    
    column-count: 1;
}
table, td {
font-size:90%;
padding-left:5%;



}

li a {
    
    
    text-align: center;
    
    text-decoration: none;
}

li a:hover {
    //background-color: #111;
}
#cimsor
{
	

	width:100%;
	
	
	
}

a:link
{
	color : #76b900;
	
}


tr:nth-child(even) 
{
	
}
.container
{
	
	
	
	
}


footer
{
	font-size:50%;
	
}