body {
    background-color: rgb(213, 214, 218);
    text-align: center;
    color: rgb(255, 6, 130);
    font-style: oblique;
    font-family: "courier", Times, serif;
   }

.main {
    padding-bottom: 1em;
}
select, option {
    text-align: left;
}
