<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<div class="btn-group">
  <button type="button" 
          value="2011" 
          (click)="onChange($event.target.value)" 
          class="btn btn-primary">2011</button>
  <button type="button" 
          value="2012" 
          (click)="onChange($event.target.value)" 
          class="btn btn-primary">2012</button>
  <button type="button" 
          value="2013" 
          (click)="onChange($event.target.value)" 
          class="btn btn-primary">2013</button>
  <button type="button" 
          value="2014" 
          (click)="onChange($event.target.value)" 
          class="btn btn-primary">2014</button>
  <button type="button" 
          value="2015" 
          (click)="onChange($event.target.value)" 
          class="btn btn-primary">2015</button>
  <button type="button" 
          value="2016" 
          (click)="onChange($event.target.value)" 
          class="btn btn-primary">2016</button>
  <button type="button" 
          value="2017" 
          (click)="onChange($event.target.value)" 
          class="btn btn-primary">2017</button>
</div>
